<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindfulMoment - 성인 ADHD 자가진단</title>
    <th:block th:replace="fragments :: head"></th:block>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div th:replace="fragments :: navbar"></div>
    <div class="moving-background">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center text-white">
                    <h1 class="display-4 mb-4">성인 ADHD</h1>
                    <div class="lead-group fade-in-up">
                        <p class="lead">현대 사회에서 성인 ADHD는 점점 증가하고 있습니다.</p>
                        <p class="lead">ADHD는 일상생활, 직장, 대인관계에 큰 영향을 미칠 수 있습니다.</p>
                    </div>
                    <h2 class="h1 impact-title fade-in-up">ADHD가 미치는 영향</h2>
                    <ul class="list-unstyled mb-5 impact-list">
                        <li class="fade-in-up">집중력 저하 및 업무 효율성 감소</li>
                        <li class="fade-in-up">시간 관리의 어려움</li>
                        <li class="fade-in-up">충동적인 행동 증가</li>
                        <li class="fade-in-up">대인관계의 어려움</li>
                    </ul>
                    <a href="/survey" class="btn custom-btn-diagnosis fade-in-up">진단</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: loginModal"></div>
    <div th:replace="fragments :: scripts"></div>

    <div th:replace="fragments :: footer"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const elements = document.querySelectorAll('.fade-in-up');
            let delay = 0;
            elements.forEach((el, index) => {
                setTimeout(() => {
                    el.classList.add('visible');
                }, delay);
                delay += 300;
            });
        });
    </script>
</body>
</html>